#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: #fff;
  color: #000;
}
#login-dp .title {
   border-bottom: 1px solid #ddd;
   margin-bottom: 10px;
}
#login-dp .help-block {
  font-size:12px    
}
#login-dp .bottom {
  background-color: #fff;
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  color: #fff;
  background-color: #3b5998;
  margin-bottom: 10px;
}
.btn-fb:hover{
  background-color: #496ebc 
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 5px;
}