<div class="form-group">
  <h4 class="modal-title text-center">Loan</h4>
</div>
<div class="form-group">
  <label for="loan_title" class="col-sm-3 control-label">Loan title</label>
  <div class="col-sm-8">
    <input type="text" ng-model="application.loan_title" class="form-control" id="loan_title" required>
  </div>
</div>
<div class="form-group">
  <label for="loan_detail" class="col-sm-3 control-label">Loan detail</label>
  <div class="col-sm-8">
    <input type="text" ng-model="application.loan_detail" class="form-control" id="loan_detail" required>
  </div>
</div>
<div class="form-group">
  <label for="loan_destination" class="col-sm-3 control-label">Loan destination</label>
  <div class="col-sm-8">
    <input type="text" ng-model="application.loan_destination" class="form-control" id="loan_destination" required>
  </div>
</div>
<div class="form-group">
  <label for="funding_days" class="col-sm-3 control-label">Funding days</label>
  <div class="col-sm-8">
    <input type="text" ng-model="application.funding_days" class="form-control" id="funding_days" required>
  </div>
</div>
<div class="form-group">
  <label for="other_income" class="col-sm-3 control-label">Other income</label>
  <div class="col-sm-8">
    <input type="text" ng-model="application.other_income" class="form-control" id="other_income" required>
  </div>
</div>
<div class="form-group">
  <label for="education" class="col-sm-3 control-label">Education</label>
  <div class="col-sm-8">
    <input type="text" ng-model="application.education" class="form-control" id="education" required>
  </div>
</div>
<div class="form-group">
  <label for="pay_job" class="col-sm-3 control-label">Pay job</label>
  <div class="col-sm-8">
    <input type="text" ng-model="application.pay_job" class="form-control" id="pay_job" required>
  </div>
</div>
<div class="form-group">
  <label for="year_job" class="col-sm-3 control-label">Year job</label>
  <div class="col-sm-8">
    <input type="text" ng-model="application.year_job" class="form-control" id="year_job" required>
  </div>
</div>
<div class="form-group">
  <label for="company_job" class="col-sm-3 control-label">Company job</label>
  <div class="col-sm-8">
    <input type="text" ng-model="application.company_job" class="form-control" id="company_job"  required>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-8">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="application.has_credit_card" name="has_credit_card"> Credit card
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-8">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="application.has_insurance" name="has_insurance"> Insurance
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-8">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="application.has_car" name="has_car"> Car
      </label>
    </div>
  </div>
</div>