<div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="form-horizontal" ng-submit="saveApplication()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <alert></alert>
          <div ng-include="'views/applications/loan.html'"></div>
          <div ng-include="'views/applications/expenses.html'"></div>
          <div ng-include="'views/applications/references.html'"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click='addExpense()'>Add Expense</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>